<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Here are some items from the database:</h1>
    {% for thing in all_the_stuff_from_the_database %}
    <p>{{thing.name}}</p>
    {% endfor %}

    <h1>Add a thing:</h1>
    <form action='/add_thing' method='POST'>
        {% csrf_token %}
        <input type='text' name='name'>
        <input type='submit'>
    </form>
</body>
</html>